.side-bar
  .header
    .header__box
      name
      .header__box__menu
        =link_to "#", class: "btn" do
          =icon("far", "edit")
        =link_to "#", class: "btn" do
          =icon("fas", "cog")
  .main
    %p.main__message techcamp
    %p.main__message-list まだメッセージがありません
